<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pharmacy_health_care">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Admin.UpdateActivity"></activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".MobileDetailActivity" />
        <activity android:name=".ItemDetailActivity" />
        <activity android:name=".AddItemActivity"></activity>
        <activity android:name=".Admin.AdminDashboardActivity"></activity>
    </application>


</manifest>